/*
Theme Name: responsive_personal_blog
Theme Demo URL: http://www.responsive_personal_blog.hydwebdesigner.com
Description: clean, simple, minimalist, Orange two column theme
Version: 7.x
Author: Paramesh Ragala 
Author url: http://www.hydwebdesigner.com
*/ 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
body, input, textarea, select{ font-family:"trebuchet MS", arial; color:#454545; font-size:16px; background:#F1F1F1; }
h2{ font-size:20px; }
h3{ font-size:18px; margin-bottom:10px; }
h4{ font-size:16px; margin-bottom:10px; font-weight:bold; }
a{ text-decoration:none; color:#3399CC; }
a:hover{ color:#D74002; }
ul, li{ list-style-type:none!important; list-style-image:none!important; }
p{ margin-bottom:18px; }
.clearFix:after, #preface-area:after{ clear:both; content:"."; height:0px; display:block; visibility:hidden; }

#wrapper, .header, #footer-block-wrap{ max-width:960px; padding:0px 1%; width:98%; margin:auto; }
#content-wrap{ float:left; width:70%; }
#sidebar{ float:right; width:25%; }

/*** Header Styles ***/
#header{ position:relative; background:url(../images/header-bg.jpg) 0px 0px repeat #d74002; min-height:350px; margin-bottom:20px; padding:20px 0; }
#site-logo, #name-and-slogan, #logo{ float:left; margin-bottom:10px; }
#site-logo #site-name a{ color:#fff; font-size:30px; }
#name-and-slogan{ margin:27px 0px 0px 23px; }
#site-slogan{ color:#e4f1fc; }

#featured{ 
	color:#fff; 
	font-size:30px; 
	width:90%; 
	clear:left; 
	margin-top:30px; 
	padding:2% 5%; 
	border-top: 3px solid #FF9A5F; 
}
#featured img{ float:right; margin:0px 0px 10px 20px; }

#featured #nav ul{ text-align:center; position:absolute; bottom:20px!important; left:50%; z-index:9999; }
#featured #nav ul li { display:inline; }
#featured #nav ul li a{ background:#ff9a5f; width:10px; height:10px; float:left; margin-right:5px; font-size:6px; }
#featured #nav ul li.activeSlide a{ background:#fff; }
#featured #slides, #featured #slides section{ width:100%!important; background:none!important; }
#featured #slides .readmore a{ background: #FF9050; color: #FFFFFF; font-size: 15px; font-weight: bold; padding: 10px 30px;  border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; behavior:url(sites/all/themes/param/css/PIE.htc); position:relative; }
#featured #slides .readmore a:hover{ background:#fff; color:#D74002; }
/*** Navigation Styles ***/
#navigation{ margin-top:35px; float:right; }
#navigation ul li{ list-style-type:none; float:left; list-style-image:none; margin:0px }
#navigation ul li a{ background:#FF9050; padding:10px 15px; color:#fff; }
#navigation ul li a:hover, #navigation ul li a.active{ background:#fff; color:#d74002; }

/*** Preface Area Styles ***/
#preface-block-wrap{  margin-bottom:20px }
#preface-area .preface-block{ float:left; background:#fff; padding:1% 2%; margin-right:2%; width:28%; min-height:288px; border-radius:20px; -ms-border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; behavior:url(sites/all/themes/param/css/PIE.htc); position:relative;  }
#preface-area .preface-block:last-child{ margin-right:0px; }
#preface-area .preface-block h2{ color:#F26522; font-size:20px; padding:10px 0px 6px; border-bottom:1px dotted #F26522; margin-bottom:10px; }
#preface-area .preface-block ul li{ margin-left:0px; }


/*** Slider Styles ***/
#primary{ position:relative; }
#nav-slider{ position:absolute; top:100px;  }

/*** Blog Content Styles ***/
#content-wrap article{ margin-bottom:50px; }
#content-wrap article header h2, .page-title, #page-title, #content-wrap .views-field-title{ border-bottom:1px dotted #F26522; font-size:30px; border-left:5px solid #F26522; padding-bottom:10px; padding-left:20px; border-radius:20px 0px 0px 0; -ms-border-radius:20px 0px 0px 0; -moz-border-radius:20px 0px 0px 0; -webkit-border-radius:20px 0px 0px 0; behavior:url(sites/all/themes/param/css/PIE.htc); position:relative; } 
#content-wrap article header h2 a{ color:#454545; }
span.submitted{ font-size:14px; color:#767676; display:block; border-bottom:1px dotted #F26522; margin-bottom:20px; padding:10px 0 10px 30px;  } 

.region-content{ padding-top:20px; }
#content-wrap footer{ margin-top:15px; }
#content-wrap footer ul li{ padding:0px; margin-right:10px; }
#content-wrap footer a{ background:#e5e5e5; padding:8px 20px; }

.field-name-field-blog-tags .field-item, .field-name-field-blog-tags .field-label, .field-name-field-blog-tags .field-items{ display:inline; }
.field-name-field-blog-tags .field-item{ margin-right:2px; border:1px solid #E5E5E5; padding:0px 10px; line-height:30px; }

.description{ color: #999999; font-size: 13px!important; }

.breadcrumb{ border:1px dotted #F26522; padding:10px 20px; margin-bottom:20px; }

/*** Sidebar Styles ***/
#sidebar .block{ background:#fff; border:1px solid #ccc; margin-bottom:10px; border-radius:25px; -moz-border-radius:25px; -webkit-border-radius:25px; behavior:url(sites/all/themes/param/css/PIE.htc); position:relative; }
#sidebar .block h2, #comments h2{ background:#F26522; border-radius:25px 25px 0 0; -moz-border-radius:25px 25px 0 0; -webkit-border-radius:25px 25px 0 0; behavior:url(sites/all/themes/param/css/PIE.htc); position:relative; }
#sidebar .block h2, #sidebar .block h2 a, #comments h2{ color:#fff; font-size:20px; padding:15px; }
#sidebar .block .content{ padding:10px;0 }
#sidebar .block .content ul li{ margin:0px!important; padding:10px 0; border-bottom:1px dotted #ccc; }
#sidebar .block .content ul li:last-child{ border:none; }

/***Slocial Icons Styles ***/
.facebook a{ background:url(../images/social-icons.png) 0px 0px no-repeat; display:block; padding:6px 0px 6px 40px; }
.twitter a{ background:url(../images/social-icons.png) 0px -52px no-repeat; display:block; padding:6px 0px 6px 40px; }
.delicious a{ background:url(../images/social-icons.png) 0px -107px no-repeat; display:block; padding:6px 0px 6px 40px; }
.pinterest a{ background:url(../images/social-icons.png) 0px -157px no-repeat; display:block; padding:6px 0px 6px 40px; }
.rss a{ background:url(../images/social-icons.png) 0px -261px no-repeat; display:block; padding:6px 0px 6px 40px; }

/*** Footer Styles ***/
#footer-bottom{ margin-top:50px; border-top:3px solid #F26522; padding:20px; background:#535353; color:#fff; }
#footer-block-wrap .footer-block{ float:left; width:28%; margin-bottom:20px; margin-right:2%; padding:1% 2%;}
#footer-block-wrap .footer-block:last-child{ margin-right:0px; }
#footer-block-wrap .footer-block h2{ font-size:20px; color:#F26522; padding-bottom:8px; border-bottom:1px dotted #fff; margin-bottom:10px;  }
#footer-block-wrap .footer-block ul li{ margin:0px; line-height:22px; display:block;}
#footer-bottom #bottom, #block-system-powered-by{ text-align:center; }

/*** Comments Styles ***/
#comments, .contact-form, #comment-form{ border:1px solid #ccc; border-radius:25px; background:#fff; }
#comments #comment-form, .contact-form{ padding:0 15px 15px; }
#comments .comment, #comment-form{  padding:20px; }
#comments .user-pic{ float:left; margin-right:4%; }
#comments .comment-text{ width:80%; float:left; }

/*** Form Styles ***/
.form-submit{ background:#FF9050; border: none; color: #FFFFFF; font-size: 15px; font-weight: bold; padding: 10px 20px; cursor:pointer; margin-right:10px; }
.form-submit:hover{ background:#3399CC; }
input, textarea, select{ padding:8px 15px; border:1px solid #d3d3d3; border-radius:20px; -ms-border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; behavior:url(sites/all/themes/param/css/PIE.htc); position:relative;  margin-top:5px; }

input.form-text{ width:85%; }

/*** Border Radius ***/
#navigation ul li a, .form-submit, #content-wrap footer a, .field-name-field-blog-tags .field-item{ border-radius:20px; -ms-border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; behavior:url(sites/all/themes/param/css/PIE.htc); position:relative; }
#featured #nav ul li a{ border-radius:20px; -ms-border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; behavior:url(sites/all/themes/param/css/PIE.htc); position:relative; }
#featured{ border-radius: 30px 30px 30px 30px;  -moz-border-radius: 30px 30px 30px 30px; -webkit-border-radius: 30px 30px 30px 30px; behavior: url(sites/all/themes/param/css/PIE.htc); position:relative; }



/*** Pager Styles ***/
.pager .pager-current{ color:#F26522; border-left:3px solid #F26522; border-radius:10px 0 0 0; -moz-border-radius:10px 0 0 0; -webkit-border-radius:10px 0 0 0; behavior: url(sites/all/themes/param/css/PIE.htc); position:relative; }
ul.pager li{ margin:0 0 8px 8px!important; }
.pager{ margin:0 0 35px 0!important; }

@media only screen and (min-width:768px) and (max-width:960px){
#navigation{ margin:35px 0 30px; float:left; }
#featured #slides, #featured #slides section{ height:300px!important; }
}

/*** Mobile Devises ***/
@media only screen and (max-width:767px){
#content-wrap article img{ width:100%; }
#header{ padding-top:5px; }
#site-logo, #name-and-slogan, #logo{ float:none; }
#name-and-slogan{ margin: 0 0 0 8px; }
#sidebar, #content-wrap{ float:none; width:100%; }
#site-logo, #navigation, .profile-info img{ float:none; }
#site-logo, .profile-info{ text-align:center;}
#navigation{ margin:0px; padding:0px; clear:left; }
#navigation ul li, #navigation ul li a{ display:block; float:none; margin:0px; text-align:center; }
#featured{ font-size:20px; margin-top:10px; }
#featured p{ padding:0px; }
#featured img{ float:none; }
#featured #nav ul{ left:46%; }
#featured #slides, #featured #slides section{ height:400px!important; }
#preface-area .preface-block{ width:84%; float:none; margin-bottom:10px; padding:2% 8%; }
#content-wrap footer ul li{ display:block; line-height: 45px; }
#featured #slides, #featured #slides section{ text-align:center; }
}

/*** Mobile Landscape Devises ***/
@media only screen and (min-width:480px) and (max-width:767px){
#sidebar, #content-wrap{ float:none; width:100%; }
#navigation ul li a{ display:block; float:none; }
#featured #slides, #featured #slides section{ height:400px!important; }
}